/BankWS2/build/
/BankWS/build/
/BankWS/dist/
/BankClient/dist/
/GiaiPtBac2/nbproject/private/
/GiaiPtBac2/dist/
/GiaiPtBac2/build/
/GiaiPtBac2_client/nbproject/private/
/GiaiPtBac2_client/build/
/GiaiPtBac2_client/dist/